html, body {
  height: 100%;
  margin: 0;
}

#root,
#root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 헤더(네비바) 고정 + 그림자 */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* 본문은 자동으로 공간 채우기 */
main {
  flex: 1;
}

/* 푸터는 항상 하단 고정 */
footer {
  margin-top: auto;
}
